<app-navbar></app-navbar>
<div id="background" >
    <div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Search by places" class="form-control" #search [formControl]="searchControl" type="text">
            </mat-form-field>
        </form>
        <button mat-button (click)="searchclicked()">GO</button>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="Search by Cities">
              <mat-option *ngFor="let city of cities" [value]="city.city_code">
                {{ city.city_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="searchbycity()">GO</button>
    </div>

</div>

