@import '~@angular/material/prebuilt-themes/indigo-pink.css';
  
body { 
  background: url("background.jpg") no-repeat center center fixed; 
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 @media(max-width: 768px){
  body {

   }
 }
