<app-navbar></app-navbar>
<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
    <form (ngSubmit)="onRegisterSubmit()">
    <input type="text" name="name" placeholder="Full Name" [(ngModel)]="name" />
    <input type="text" name="username" placeholder="Username" [(ngModel)]="username" />
    <input type="text" name="email" placeholder="E-mail" [(ngModel)]="email"/>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
    
    <input type="submit" name="signup_submit" value="Sign me up" />
    </form>
  </div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    <button class="social-signin facebook" (click)="SignInFacebook()">Log in with facebook</button>
    <br />
    <button class="social-signin google" (click)="SignInGoogle()">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div>
<div>

